body{
	font-family:Verdana, Geneva, sans-serif;
	}
h3{
	font-size:13px;
	margin:2px 0;
	}
p{
	font-size:11px;
	margin:1px 0;
	}
#wrapper {
	height: 100%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
